.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebanner-and-main-container {
    display: flex;
    height: 100vh;
}

.top-banner {
    text-align: center;
}

.main-container {
    display: flex;
    flex-grow: 1;
}

.side-banner {
    justify-content: center;
    background-color: orange;

}

.side-banner-link {
    display: flex;
    /* change width to make links wider if they overlap */
    width: 100px;
    padding: 12px;
    margin: 0 6px 6px;
    background: darkorange;
    text-decoration: none;
    color: white;
}

.login {
    margin-left: 10px;
}

.blog {
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: auto;
}

.blog button {
    margin-right: auto;
}

.card-clothing {
    width: 300px;
    height: 300px;
    
}

.card-container {
    margin: 20px;
    padding-left: 20px; /* Add left padding */
    width: 100%;
}

.clothing-title {
    position: absolute;
    right: 50%;
}

.container {
    position: relative;
    display: flex;
    flex-grow: 1;
    margin: 10px;
}

.x-button {
    position: absolute;
    top: 0;
    right: 0;

}

.image-container {
    margin-top: 50px;
}
