.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebanner-and-main-container {
    display: flex;
    height: 100vh;
}

.top-banner {
    text-align: center;
}

.main-container {
    border: 1px solid black;
    display: flex;
    flex-grow: 1;
}

.side-banner {

    justify-content: center;
    background-color: orange;
}

.side-banner-link {
    display: block;
    width: 50px;
    padding: 12px;
    margin: 0 6px 6px;
    background: darkorange;
    text-decoration: none;
    color: white;
}