client/node_modules/.cache/default-development/1.pack
client/node_modules/typescript/lib/lib.es2022.string.d.ts
client/node_modules
client/node_modules/.cache/default-development
server/models/__pycache__
*.eslintcache
*.pack
client/node_modules/.cache/.eslintcache
client/node_modules/.cache/default-development/10.pack
client/node_modules/.cache/default-development/*.pack
